{% extends "base.html" %}

{%block head%}
    <style type="text/css">
        .background_div{
            margin-top:20pt;
        }

        body {
            background: url('{{ STATIC_URL }}images/arpoador_blurry2.jpg') top no-repeat;
        }

        .callouts {
            text-align: center;
            
        }

        .transparent{
            margin-top:20pt; 
            background-color: transparent;
            color: white;
            padding-left: 0px;
        }

        .hero-unit small {
            font-size: 14pt;
            display: block;
            margin-bottom: 20pt;
        }

    </style>

{%endblock%}

{%block content%}

    <div class="container">
        <div class="hero-unit transparent">

            <h1>Swapping</h1>
            <small> Things, Services and your Time.</small>

            <a href="/contact" class="btn btn-primary btn-large">Sign-up for beta</a>

        </div>
    </div>
    
    <div class="container">
        <div class="row callouts">
            <div class="span4">
                <h2>What's out there</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>List something</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
           </div>
            <div class="span4">
                <h2>Volunteering</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
        </div>
    </div>

{%endblock%}