{% extends "base.html" %}
{% load tags %}

{%block head%}

<style type="text/css">
    .fix_checkbox input {
        float:left; 
        margin-right:4pt;
    }

    .errorlist {
        color: red;
    }

    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    
    .form-signin input[type="text"],
    .form-signin input[type="email"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }

</style>

{%endblock%}

{%block content%}

    <form class="form-signin" action="/" method="post">{% csrf_token %}
        <h2 class="form-signin-heading"> Give us your feedback: </h2>        

        {{ form.name.label_tag }} {{ form.name }}
        {{ form.name.errors }}

        {{ form.email.label_tag }} {{ form.email }}
        {{ form.email.errors }}

        <fieldset>
            <legend>Are you interested in...</legend>
            <label class="checkbox" for="{{ form.wantsServicesXchange.id_for_label }}">
                {{ form.wantsServicesXchange }} Services.
            </label>
            <label class="checkbox" for="{{ form.wantsGoodsXchange.id_for_label }}">
                {{ form.wantsGoodsXchange }} Goods.
            </label>
            <label class="checkbox" for="{{ form.wantsCharityXchange.id_for_label }}">
                {{ form.wantsCharityXchange }} Charity.
            </label>
            <label class="checkbox" for="{{ form.wantsLocationXchange.id_for_label }}">
                {{ form.wantsLocationXchange }} Location.
            </label>
            <label class="checkbox" for="{{ form.wantsBadges.id_for_label }}">
                {{ form.wantsBadges }} Badges.
            </label>
        </fieldset>

        <input type="submit" value="Submit" class="btn btn-large btn-primary" />
    </form>


{%endblock%}